@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.back-body {
  transition: all 0.3s linear;
}

.button {
  transition: color 0.4s linear;
}

.message-box::-webkit-scrollbar {
  display: none;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left center;
}

.button-fill::before {
  transform: scaleX(0);
}

.button-fill:hover::before {
  transform: scaleX(1);
}

.emoji {
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
  transform: perspective(0);
}

.side__pages {
  transition: transform 0.4s ease-in;
}

/* Add a transition effect for the color change */
.side__pages li {
  /* -webkit-text-stroke: 0.7px black; */
  font-weight: bolder;
  transition: color 0.5s;
}

.txt-outline {
  -webkit-text-stroke: 0.3px black;
  /* text-shadow: 2px 2px 2px black; */
}

.side__pages li:nth-child(1) {
  transition-delay: 0.15s;
}

.side__pages li:nth-child(2) {
  transition-delay: 0.15s;
}

.side__pages li:nth-child(3) {
  transition-delay: 0.15s;
}

.side__pages li:nth-child(4) {
  transition-delay: 0.15s;
}

.side__pages li:nth-child(5) {
  transition-delay: 0.15s;
}

@media (max-width: 1680px) {
  .swiper_container {
    height: 40rem;
    padding: 5rem 0rem 12rem;
    position: relative;
  }

  .swiper-slide {
    width: 30rem;
    height: 17rem;
    position: relative;
    background: transparent;
  }
}

@media (min-width: 1681px) {
  .swiper_container {
    height: 40rem;
    padding: 7rem 0;
    position: relative;
  }

  .swiper-slide {
    width: 37rem;
    height: 19rem;
    position: relative;
  }
}

.swiper-slide img {
  width: 38rem;
  height: 17rem;
  border-radius: 1rem 1rem;
  object-fit: contain;
}

@media (min-width: 1681px) {
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1680px) {
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1681px) {
  .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
}

@media (max-width: 1680px) {
  .slider-controler .swiper-button-next {
    left: 65% !important;
    transform: translateX(-58%) !important;
  }
}

@media (min-width: 1681px) {
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }

  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 1680px) {
  .slider-controler .slider-arrow {
    background: var(--white);
    top: 90%;
    width: 2rem;
    height: 4rem;
    border-radius: 50%;
    left: 37%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }

  .swiper-pagination {
    position: relative;
    cursor: pointer;
    width: 15rem !important;
    bottom: 1rem;
  }
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.2));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}

@media (min-width: 1681px) {
  .icon-frame {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0px 5px;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  } 

  .icon-frame .icon-item {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
  }

  .icon-frame span {
    font-size: 20px;
    font-weight: 500;
    line-height: 58px;
    margin-left: 10px;
  }
}

@media (max-width: 1680px) {
  .icon-frame {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  } 

  .icon-frame .icon-item {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
  }

  .icon-frame span {
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
    margin-left: 10px;
  }
}

.icon-frame {
  transition: all 0.3s ease-out;
}

.icon-frame:hover {
  width: 300px;
}


@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
