@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.back-body {
  transition: all 0.3s linear;
}

.button {
  position: relative;
  background-color: transparent;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  padding: 8px 16px;
  min-width: 180px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
}

.message-box::-webkit-scrollbar {
  display: none;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left center;
}

.button-fill::before {
  transform: scaleX(0);
}

.button-fill:hover::before {
  transform: scaleX(1);
}

.emoji {
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
  transform: perspective(0);
}

.side__pages {
  transition: transform 0.4s ease-in;
}

.swiper_container {
  height: 40rem;
  padding: 7rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 19rem;
  position: relative;
}

.swiper-slide img {
  width: 38rem;
  height: 19rem;
  border-radius: 1rem 1rem;
  object-fit: contain;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.2));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}

.icon-frame {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0px 5px;
  border-radius: 45px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.icon-frame {
  transition: all 0.3s ease-out;
}

.icon-frame:hover {
  width: 300px;
}

.icon-frame .icon-item {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
}

.icon-frame span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
